.admin-students-section-header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.admin-students-section-header-reload-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}